.navbar_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: antiquewhite;
    height: 50px;
}

.navigation_wrapper{

}

.userPanel_wrapper{

}